.turn-board{
    /* background-color: rgb(5, 58, 128); */
    color:black;
    background-color:white;
    width: 300px;
    margin: 3vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOut 0.5s ease-out forwards;

}
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }